.sidebar{
    background-color: var(--color2);
    height: 100vh; 
}

@media(max-width: 991px){
    .admin-template .sidebar{
        height: auto;
    }
}

.title-border {
    width: 140px;
    height: 1.5px;
    background: rgb(1, 1, 59);
    background: linear-gradient(to right, transparent, rgb(1, 1, 59), transparent);
    margin: 0 auto;
} 