.admin-panel-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.admin-panel-form .form-group {
    margin-bottom: 1.5rem;
}

.input-icon {
    display: flex;
    align-items: center;
}

.input-icon .password-icon {
    cursor: pointer;
}

.add-user-button {
    width: 100%;
    padding: 0.55rem!important;
    color: #fff;
    border: none !important;
    border-radius: 4px;
    font-size: 1.3rem!important;
}



.add-user-button:hover {
    background-color: #0056b3!important;
}
